@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

/* --- Colors ---*/
$background-color: #f6f6ef
$primary-color: #ff6600
$text-color: #828282

/* --- Typography ---*/
$title-font-family: 'Roboto', sans-serif
$text-font-family: 'Roboto Slab', serif
$font-size: 14px

/* --- Size ---*/
$logo-size: 32px
$header-height: 48px
